footer.footer
    .container
        .footer__top
            nav.footer__nav
                ul.footer__nav--list
                    li.footer__nav--item
                        a(href="" data-scroll="#intro").footer__nav--link.link О нас
                    li.footer__nav--item
                        a(href="").footer__nav--link.link FAQ
                ul.footer__nav--list
                    li.footer__nav--item
                        a(href="" data-scroll="#how").footer__nav--link.link Как это работает?
                    li.footer__nav--item
                        a(href="" data-scroll="#why").footer__nav--link.link Почему мы
                    li.footer__nav--item
                        a(href="" data-scroll="#income").footer__nav--link.link Ваш доход
                    li.footer__nav--item
                        a(href="" data-scroll="#statistic").footer__nav--link.link Статистика
                    li.footer__nav--item
                        a(href="" data-scroll="#reviews").footer__nav--link.link Отзывы
        .divider
        .footer__bottom
            a(href="").footer__logo
                img(src="assets/img/logo-light.svg" alt="")
            .footer__copyright NewsLab. 
                span Все права защищены
            ul.footer__socials
                li.footer__socials--item
                    a(href="").footer__socials--link
                        img(src="assets/img/icon-instagram.svg" alt="")
                li.footer__socials--item
                    a(href="").footer__socials--link
                        img(src="assets/img/icon-facebook.svg" alt="")
                li.footer__socials--item
                    a(href="").footer__socials--link
                        img(src="assets/img/icon-telegram.svg" alt="")
