header.header
    .header__inner
        .header__burger
            span
            span
        a(href="/").header__logo.logo
            img(src="assets/img/logo.svg" alt="")
        nav.header__nav
            a(href="/").header__logo.logo
                img(src="assets/img/logo-light.svg" alt="")
            ul.header__nav--list
                li.header__nav--item
                    a(href="#how" data-scroll="#how").header__nav--link.link.header__link Как это работает?
                li.header__nav--item
                    a(href="#why" data-scroll="#why").header__nav--link.link.header__link Почему мы?
                li.header__nav--item
                    a(href="#income" data-scroll="#income").header__nav--link.link.header__link Ваш доход
                li.header__nav--item
                    a(href="#statisctic" data-scroll="#statisctic").header__nav--link.link.header__link Статистика
                li.header__nav--item
                    a(href="#reviews" data-scroll="#reviews").header__nav--link.link.header__link Отзывы
            .header__actions
                a(href="").header__link.link.header__actions--link Вход
                a(href="").header__btn.btn._secondary Регистрация
        .header__enter 
            img(src="assets/img/icons/exit.svg" alt="")
