section.faqs
    .container
        h1.section__title.text-uppercase.faqs__title справочный центр
        form.faqs__form
            .fieldset.input-search
                img.icon(src="assets/img/icons/search.svg" alt="")
                input.input.faq__input._is-empty(name="faq_name" placeholder="Поиск ответов")
        .faqs__list
            a(href="article.html" target="_blank").faqs__item.faq
                .faq__icon
                    img(src="assets/img/icons/circle.svg")
                .faq__textbox
                    h5.faq__title Выбор новости или статьи
                    p.faq__text Как выбрать новость или статью для залива, как добавить свои новости и сделать их приватными
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title С чего начать работу?
                    ol
                        li Зарегистрироваться, если этого ещё не сделал. 
                            a(href="").link Вот ссылка.
                        li В кабинете вебмастера (или “лаборатории”) выбирай пункт “новости” и возле интересующей тебя новости нажимай +
                        li Заполняешь все необходимые пункты и копируешь полученную ссылку.
                        li На ссылку закупаешь трафик из разрешенных источников.
                        li Масштабируешь связки.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Какие модели и форматы работы использованы? 
                    p.faq__text Сейчас мы работаем только по CPA, но в дальнейшем будет расширение форматов.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Есть ли ограничения по количеству трафика и есть ли капа?
                    p.faq__text Капы нет, поэтому можешь лить сколько душе угодно. Автоматические алгоритмы сами будут распределять трафик по топовым связкам, если у одного из партнеров закончится капа.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Можно ли лить на витрину через API?
                    p.faq__text Можно. Вся техническая документация по 
                        a(href="").link ссылке.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Могу ли я добавить свои связки на витрину?
                    p.faq__text Можешь. Но это не всегда нужно - не факт, что твоя промка попадет в ротацию. Наш механизм живет своей прекрасной жизнью и подстраивает все так, чтоб ты получил максимально возможный EPC. Если все еще не передумал - 
                        a(href="mailto:").link напиши своему менеджеру.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Какой тип новости выбрать: короткую или полную?
                    p.faq__text Выбирай короткую. Опытным путем доказано, что она приносит больше денег. Ну или милости просим протестировать оба варианта.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Возможно ли предложить свою новость? 
                    p.faq__text Конечно, без проблем. 
                        a(href="mailto:").link Пиши своему менеджеру 
                        | и тебе помогут.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title На какие ГЕО можно лить и есть ли ограничения по каким-либо ГЕО?
                    p.faq__text Сейчас у нас доступна только Россия, но мы на ней не остановимся. 
                        a(href="mailto:").link Пиши своему менеджеру
                        |, чтоб больше узнать о наших планах.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Какая аудитории лучше всего монетизируется на витрине?
                    p.faq__text Лучше всего конвертит возрастная аудитория Ж/М 55+, но и для 30+ мы найдем, что предложить.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Есть ли ограничения по источникам трафика?
                    p.faq__text Мы принимаем трафик из:
                    ol
                        li Тизерных сетей
                        li Google Ads
                        li Яндекс.Директ
                        li MyTarget
                    p.faq__text Другие возможные варианты обсуди, пожалуйста, со своим менеджером.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Надо ли использовать клоакинг?
                    p.faq__text Если собираешься лить из гугла или яндекса, то без клоакинга никуда. В тизерных сетях пройдешь модерацию без проблем.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Как анализировать трафик? Ключевые показатели статистики и ориентировочные средние по ним.
                    p.faq__text Если говорить просто о сложном - сравнивай стоимость клика по своему объявлению с EPC. Сравнивать лучше с периодом, когда данные по выплатам уже устаканились и не меняются. Чем меньше трата на клик и больше EPC - тем больше ты заработал.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Как часто обновляется статистика?
                    p.faq__text Статистика обновляется так быстро, как только возможно. Дольше всего могут обрабатываться аппрувы, потому что колл-центрам необходимо время на прозвон клиентов.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Сколько на витрине офферов и какие ставки на них? С какими ПП вы работаете?
                    p.faq__text На витрине более 150 офферов с высокими ставками, которые мы не можем разглашать. Но уверяем тебя - в нашей “лаборатории” все твои тесты будут в удовольствие. Мы работаем с лучшими партнерскими программами СНГ, среди которых Everad, LuckyOnline, KMA и прочие. Мы постоянно пополняем список партнерок, так что офферов всегда будет в изобилии.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Как часто обновляются дизайны витрины? Можно ли предложить свой дизайн?
                    p.faq__text Внутренний отдел медиабаинга тестирует разные варианты дизайна и сравнивает конверсию. Если какой-либо дизайн скажется на конверсии, то он появится в списке.
                    p.faq__text Предлагать свое видение дизайна можно, 
                        a(href="mailto:").link отправляй на почту
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Можно ли установить на витрину сторонние пиксели FB/Google/Mail/Yandex?
                    p.faq__text Да, это можно сделать в соответствующем разделе “Пиксели” в личной “лаборатории”.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Детали по сбору PUSH базы, ее монетизации, жизненному циклу подписчиков.  Можно ли выгрузить PUSH базу?
                    p.faq__text Сбор пуш баз находится в разработке. Следи за обновлениями.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Есть ли ограничения по сумме  и валютам выплаты?
                    p.faq__text Выплаты производятся в рублях и долларах. Холд существует только для новорегов и составляет 10 000 рублей.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Какие способы вывода денег поддерживаются?
                    p.faq__text Варианты выплат находятся в разработке. Следи за обновлениями. А пока - твой менеджер расскажет тебе об актуальных способах вывода денег и подберет наиболее удобный для тебя вариант.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Что такое поток и как его использовать?
                    p.faq__text Расписать пункт, когда будет готов финальный вариант функционала.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
            .faqs__item.faq
                .faq__icon
                    span.circle
                .faq__textbox
                    h5.faq__title Какие форматы рекламных объявлений поддерживаются?
                    p.faq__text Добавить пункт после того, как появятся различные форматы.
                    .faq__bottom
                        span.faq__author Автор: News-lab
                        span.faq__date 21.09.2021
