.article {
    padding: 90px 0 80px;

    @include media-breakpoint-up(lg) {
        padding: 140px 0 160px;
    }

    &__header {
        margin-top: 40px;
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;

        @include media-breakpoint-up(lg) {
            font-size: 32px;
            line-height: 37px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        opacity: 0.5;
        font-size: 14px;
        line-height: 16px;
        justify-content: space-between;
        margin-top: 20px;

        @include media-breakpoint-up(lg) {
            font-size: 16px;
            line-height: 19px;
            justify-content: flex-start;
            gap: 80px;
            margin-top: 30px;
        }
    }

    &__content {
        margin-top: 40px;

        @include media-breakpoint-up(lg) {
            margin-top: 80px;
            max-width: 980px;
        }
    }

    &__text {
        font-weight: 350;
        font-size: 16px;
        line-height: 150%;

        &+& {
            margin-top: 10px;

            @include media-breakpoint-up(lg) {
                margin-top: 20px;
            }
        }

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }
    }

    &__image {
        display: block;
        margin: 20px 0;

        img {
            width: 100%;
            max-width: 100%;
        }

        @include media-breakpoint-up(lg) {
            margin: 40px 0;
        }
    }

    &__list {
        list-style: inherit;
        padding-left: 20px;

        &_wrapper {
            margin-top: 40px;

            @include media-breakpoint-up(lg) {
                margin-top: 80px;
            }
        }

        &--title {
            font-size: 18px;
            line-height: 150%;

            @include media-breakpoint-up(lg) {
                font-size: 24px;
            }
        }

        &--item {
            margin-top: 10px;
            font-weight: 350;
            font-size: 16px;
            line-height: 150%;

            @include media-breakpoint-up(lg) {
                margin-top: 20px;
                font-size: 18px;
            }
        }
    }
}
