.statistics {
    padding: 60px 0 80px;
    background: $color-white;

    @include media-breakpoint-up(lg) {
        padding: 115px 0 110px;
    }

    &__title {
        &-wrapper {
            @include media-breakpoint-up(lg) {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
        }
    }

    &__list {
        list-style: inherit;
        font-weight: 350;
        line-height: 150%;

        @include media-breakpoint-down(md) {
            background: $color-white;
            font-size: 16px;
            margin-top: 30px;
        }

        @include media-breakpoint-up(lg) {
            flex: 0 0 640px;
            font-size: 18px;
        }

        > * {
            margin-top: 5px;
        }

        li {
            margin-left: 20px;
        }
    }

    &__slider {
        margin-top: 80px;

        .swiper-pagination-bullet-active {
            background: $color-secondary;
        }

        @include media-breakpoint-down(md) {
            padding-bottom: 40px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 100px;
            padding-bottom: 50px;
        }

        &--item {
            display: flex;

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

            @include media-breakpoint-up(md) {
                flex: 0 0 45%;
            }

            @include media-breakpoint-up(lg) {
                //max-width: max-content;
                flex: 1 0 33.33%;
                //flex: none;
                align-items: center;
            }

            .value {
                margin-right: 20px;
                font-weight: bold;
                font-size: 48px;
                line-height: 150%;
                color: $color-secondary;

                @include media-breakpoint-up(lg) {
                    margin-right: 30px;
                }
            }

            .text {
                font-weight: 350;
                font-size: 16px;
                line-height: 150%;

                @include media-breakpoint-down(md) {
                    margin-top: 5px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 18px;
                }
            }
        }
    }
}
