extends _includes/layout

block config
    - var pagetitle = 'Faq'
    - var pageName = 'faq'
    - var bodyClass = 'content-page'

block content
    include _includes/blocks/faq/content
    include _includes/blocks/main/pre-footer
