extends _includes/layout

block config
    - var pagetitle = 'Index'

block content
    include _includes/blocks/main/intro
    include _includes/blocks/main/how-work
    include _includes/blocks/main/schema
    include _includes/blocks/main/why
    include _includes/blocks/main/test
    include _includes/blocks/main/earnings
    include _includes/blocks/main/extra
    include _includes/blocks/main/statistics
    include _includes/blocks/main/reviews
    include _includes/blocks/main/pre-footer
        
