.body {
    color: $color-text;
    background-color: #EDF0F1;
    font-family: $font-family;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    line-height: $line-height;

    &._frozen {
        overflow: hidden;
        height: 100%;
    }

    &.menu-open {
        overflow: hidden;
    }

}

.container {
    @include make-container();
}

@if $enable-grid-classes {
    .row {
        @include make-row();

        >* {
            @include make-col-ready();
        }
    }
    @include make-grid-columns();
}

.hidden {
    display: none !important;

    @each $key in (md, lg, xl) {
        &-#{$key} {
            @include media-breakpoint-up($key) {
                display: none !important;
            }
        }
    }
}

.text {
    &-nowrap {
        white-space: nowrap;
    }

    &-muted {
        color: rgba($color-text, .5);
    }

    &-uppercase {
        text-transform: uppercase;
    }
}

.color-primary {
    color: $color-primary !important;
}

.color-secondary {
    color: $color-secondary !important;
}

.link {
    cursor: pointer;
    color: $link-color;
    padding-bottom: 3px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        transition: background-color .2s ease;
    }

    @include hover-desktop {
        &:before {
            background-color: $color-primary;
        }
    }
}

strong {
    font-weight: bold;
}

::placeholder {
    color: rgba($color-text, .5);
}

:focus::placeholder {
    opacity: 1;
}

.necessaty_fields {
    display: none !important;
}

.ios-fixed {
    @include media-breakpoint-down(sm) {
        position: fixed;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
}

.lazyload {
    visibility: hidden;
}

.fancybox-navigation {
    position: static;
}
