// Commons
@import "variables";
@import "custom-reset";

// External
// @import "vendor/jquery.fancybox.css";
@import "node_modules/swiper/swiper.scss";
@import "node_modules/swiper/components/pagination/pagination.scss";
@import "node_modules/swiper/components/navigation/navigation.scss";

// Base
@import "grid";
@import "mixins";
@import "base";
// @import "generated/sprites";
// @import "generated/svgsprites";
@import "fonts";

// Base components
@import "components/base/bk";
@import "components/base/block";
@import "components/base/btn";
@import "components/base/content";
@import "components/base/dev";
@import "components/base/form";
@import "components/base/footer";
@import "components/base/header";
@import "components/base/input";
@import "components/base/menu-toggler";
@import "components/base/rte";
@import "components/breadcrumbs";


// Project components

.section__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;

    @include media-breakpoint-up(lg) {
        font-size: 32px;
        line-height: 37px;
    }

    span {
        color: $color-secondary;
    }
}

.section__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    span {
        color: $color-secondary;
    }

    @include media-breakpoint-up(lg) {
        font-size: 24px;
    }
}

@import "blocks/intro";
@import "blocks/how-work";
@import "blocks/schema";
@import "blocks/why";
@import "blocks/test";
@import "blocks/earnings";
@import "blocks/extra";
@import "blocks/statistics";
@import "blocks/reviews";
@import "blocks/pre-footer";
@import "blocks/faq";
@import "blocks/article";
