section.earnings#income
    .container
        h2.section__title.text-uppercase Сколько можно заработать?
        .earnings__cards
            .earnings__card.click
                span.earnings__card--num 1
                .earnings__card--icon
                    img(src="assets/img/icons/arrow2.svg" alt="")
                span.earnings__card--text уникальный клик по твоему объявлению
                .earnings__card--arrow
                    img(src="assets/img/icons/arrow.svg" alt="")
            .earnings__card.sum
                span.earnings__card--text может принести до
                span.earnings__card--num 4
                    span.curr ₽
        p.earnings__bottom Если есть вопросы по поводу источников — смело 
            a(href="").link задавай своему менеджеру
