section.extra
    .container
        h2.section__title.extra__title.text-uppercase Дополнительный заработок
        .extra__info
            .textbox
                h3.section__subtitle Пока раздумываешь над новостным трафиком — можешь протестировать 
                    span наш механизм домонетизации
                .extra__info--profit
                    p.extra__text Для этого достаточно у нас в кабинете вебмастера взять скрипт, который будет дожимать твою аудиторию, а ты в это время получишь
                    .extra__info--percent
                        span до
                        span.value +17%
                        span к твоему профиту
                    .extra__text._arrow
                        span Можешь и больше - покажи нам свой успешный кейс и мы обновим указанный здесь максимум
                        img.extra__arrow(src="assets/img/icons/arrow.svg" alt="")
                a(href="").extra__button.btn._primary Подробнее 
            .extra__info--image
                picture.extra__info--image_lg
                    source(srcset="assets/img/extra__image.webp" type="image/webp")
                    source(srcset="assets/img/extra__image.png" type="image/png")
                    img(src="assets/img/extra__image.png" alt="")
                picture.extra__info--image_sm
                    source(srcset="assets/img/extra__image2.webp" type="image/webp")
                    source(srcset="assets/img/extra__image2.png" type="image/png")
                    img(src="assets/img/extra__image2.png" alt="")
                
