section.how-work#how
    .container
        h2.section__title.text-uppercase Как работает система
        .how-work__cards
            .how-work__card
                h3.how-work__card--title.text-uppercase Со стороны вебмастера
                ul.how-work__card--list
                    li.how-work__card--list_item
                        p.how-work__card--list_num 01
                        p.how-work__card--list_text Выбираешь статью и запускаешь трафик
                    li.how-work__card--list_item
                        p.how-work__card--list_num 02
                        p.how-work__card--list_text Следишь за статой, особенно за EPC
                    li.how-work__card--list_item
                        p.how-work__card--list_num 03
                        p.how-work__card--list_text Масштабируешь связки
                picture.how-work__card--image
                    source(srcset="assets/img/how-work__image1.webp" type="image/webp")
                    source(srcset="assets/img/how-work__image1.png" type="image/png")
                    img(src="assets/img/how-work__image1.png" alt="")
            .how-work__card
                h3.how-work__card--title.text-uppercase Со стороны клиента
                ul.how-work__card--list
                    li.how-work__card--list_item
                        p.how-work__card--list_num 01
                        p.how-work__card--list_text Клиент заходит на новость
                    li.how-work__card--list_item
                        p.how-work__card--list_num 02
                        p.how-work__card--list_text Видит релевантные для него тизеры
                    li.how-work__card--list_item
                        p.how-work__card--list_num 03
                        p.how-work__card--list_text Переходит по тизеру и делает заказ
                picture.how-work__card--image
                    source(srcset="assets/img/how-work__image2.webp" type="image/webp")
                    source(srcset="assets/img/how-work__image2.png" type="image/png")
                    img(src="assets/img/how-work__image2.png" alt="")
