section.intro#intro
    .container
        picture.intro__bg
            source(media="(min-width: 1280px)" srcset="assets/img/bg.webp" type="image/webp")
            source(media="(min-width: 1280px)" srcset="assets/img/bg.png" type="image/png")
            source(srcset="assets/img/bg-sm.webp" type="image/webp")
            source(srcset="assets/img/bg-sm.png" type="image/png")
            img(src="assets/img/bg-sm.png" alt="")
        h1.intro__title.text-uppercase NewsLab — витрина
            br
            | с  обучаемыми алгоритмами ротации тизеров
        ul.intro__list
            li.intro__list--item
                .icon
                    img(src="assets/img/icons/circle.svg" alt="")
                h4.intro__list--title Запускай трафик на выбранную новость
                p.intro__list--text витрина сама подберет лучшие офферы для твоей аудитории
            li.intro__list--item
                .icon
                    img(src="assets/img/icons/cube.svg" alt="")
                h4.intro__list--title Увеличивай доход существующих кампаний
                p.intro__list--text скрипт с витриной тизеров добавит в среднем +17% профита
            li.intro__list--item
                .icon
                    img(src="assets/img/icons/star.svg" alt="")
                h4.intro__list--title Не парься с настройками
                p.intro__list--text удобная админка с интуитивно понятным интерфейсом к твоим услугам. Проверяй
        .intro__bottom
            a(href="").intro__btn.btn._primary Получить доступ
            .intro__bottom--text
                .intro__bottom--arrow.icon
                    img(src="assets/img/icons/arrow.svg" alt="")
                p Работа с NewsLab перенесет вас в атмосферу ламповых времен зеленого кофе - когда лить было проще, а банов было меньше. 
