section.pre-footer
    .container
        img.pre-footer__image(src="assets/img/logo-lg.svg" alt="")
        .pre-footer__content
            img(src="assets/img/prefooter__logo.svg" alt="").pre-footer__logo
            p.pre-footer__text.text-uppercase Ты лей, а мы разберемся
            a(href="").btn._primary.pre-footer__button Зарегистрироваться
        
