section.reviews#reviews
    .container
        h2.section__title.reviews__title.text-uppercase Отзывы
        .reviews__slider
            h4.reviews__slider--title Что о нас говорят наши партнеры
            .swiper-wrapper
                .swiper-slide.reviews__slider--item
                    img.reviews__slider--image(src="assets/img/logo.svg" alt="")
                    p.reviews__slider--text Сотрудничаем с NewsLab больше полугода и не планируем останавливаться! Найти команду с таким уровнем профессионализма сложно. В рамках любого обращения — быстро и конструктивно приходим к решению. Ребята всегда предоставляют трафик отличного качества с высоким апрувом и открыты к диалогу дабы найти самые выгодные условия для всех сторон.
                .swiper-slide.reviews__slider--item
                    img.reviews__slider--image(src="assets/img/logo.svg" alt="")
                    p.reviews__slider--text Сотрудничаем с NewsLab больше полугода и не планируем останавливаться! Найти команду с таким уровнем профессионализма сложно. В рамках любого обращения — быстро и конструктивно приходим к решению. Ребята всегда предоставляют трафик отличного качества с высоким апрувом и открыты к диалогу дабы найти самые выгодные условия для всех сторон.
                .swiper-slide.reviews__slider--item
                    img.reviews__slider--image(src="assets/img/logo.svg" alt="")
                    p.reviews__slider--text Сотрудничаем с NewsLab больше полугода и не планируем останавливаться! Найти команду с таким уровнем профессионализма сложно. В рамках любого обращения — быстро и конструктивно приходим к решению. Ребята всегда предоставляют трафик отличного качества с высоким апрувом и открыты к диалогу дабы найти самые выгодные условия для всех сторон.
            .prev
                i.icon-link-arrow
            .next
                i.icon-link-arrow
            .swiper-pagination
