section.schema
    .container
        h2.section__title.schema__title.text-uppercase Полностью прозрачная схема работы
        ul.schema__list
            li.schema__list--item
                p.schema__list--num 01
                p.schema__list--text Мы пишем 
                    strong свежий контент 
                    | и упаковываем его кликабельной рекламой
            li.schema__list--item
                p.schema__list--num 02
                p.schema__list--text Ты заходишь в 
                    strong удобный кабинет-лабораторию 
                    | и выбираешь новость
            li.schema__list--item
                p.schema__list--num 03
                p.schema__list--text Запускаешь поток и 
                    strong запускаешь 
                    | на него свой 
                    strong трафик
            li.schema__list--item
                p.schema__list--num 04
                p.schema__list--text Пользуясь гибкой системой вывода статистики, 
                    strong масштабируешь связки
            li.schema__list--item
                p.schema__list--num 05
                p.schema__list--text Медитируешь, глядя как в дашборде 
                    strong растет твоя сумма к выплате
            li.schema__list--item
                img.schema__list--arrow(src="assets/img/icons/arrow-white.svg" alt="")
                picture.schema__list--image
                    source(srcset="assets/img/label.webp" type="image/webp")
                    source(srcset="assets/img/label.png" type="image/png")
                    img(src="assets/img/label.png" alt="")
        picture.schema__image
            source(srcset="assets/img/admin__image.webp" type="image/webp")
            source(srcset="assets/img/admin__image.png" type="image/png")
            img(src="assets/img/admin__image.png" alt="")
