section.statistics#statisctic
    .container
        .statistics__title-wrapper
            h2.section__title.text-uppercase.statistics__title Статистика
            ul.statistics__list
                p Всегда акуальная статистика с быстрым обновлением:
                li по push: раз в 10 минут
                li лиды - раз в 5 минут
                li визиты - realtime
        .statistics__slider
            .swiper-wrapper
                .swiper-slide.statistics__slider--item
                    span.value 10000+
                    span.text актуальных и самых обсуждаемых новостей 
                        br
                        | находится на смарт‑витрине
                .swiper-slide.statistics__slider--item
                    span.value 200+
                    span.text вебмастеров сейчас льет
                        br 
                        | на NewsLab
                .swiper-slide.statistics__slider--item
                    span.value 90%
                    span.text отчислений вы получаете, когда 
                        br 
                        | пользователь делает заказ
            .swiper-pagination
                
