section.test
    .container
        h2.section__title.test__title.text-uppercase
            span Затестить стоит 
            | в любом случае, а то потом придется 
            span завидовать чужим кейсам
        a(href="").btn._primary.test__button Зарегистрироваться
