section.why#why
    .container
        h2.section__title.text-uppercase Почему мы?
        ul.why__list
            li.why__item 
                .why__icon
                    img(src="assets/img/icons/star2.svg" alt="")
                p.why__text NewsLab ежедневно наполняется свежими новостями и инфоповодами
            li.why__item
                .why__icon
                    img(src="assets/img/icons/cube.svg" alt="")
                p.why__text Витрина содержит офферы топовых партнерских программ в вертикалях нутра и физ товарка
            li.why__item
                .why__icon
                    img(src="assets/img/icons/circle.svg" alt="")
                p.why__text Благодаря договоренностям с партнерскими программами у нас высокие ставки, которые сложно получить самостоятельно
            li.why__item
                .why__icon
                    img(src="assets/img/icons/triangle.svg" alt="")
                p.why__text Связки на новостной витрине тестируются отделом медиабаинга, поэтому мы уверены в их качестве
        picture.why__image
            source(media="(min-width: 1280px)" srcset="assets/img/why__image.webp" type="image/webp")
            source(media="(min-width: 1280px)" srcset="assets/img/why__image.png" type="image/png")
            source(srcset="assets/img/why__image-sm.webp" type="image/webp")
            source(srcset="assets/img/why__image-sm.png" type="image/png")
            img(src="assets/img/why__image-sm.png" alt="")
